# Files and folders that should be excluded from the git release are listed here with the export-ignore flag
/.github export-ignore
/.vscode export-ignore
/build export-ignore
/node_modules export-ignore
.distignore export-ignore
.env export-ignore
.gitattributes export-ignore
.gitignore export-ignore
composer.json export-ignore
docker-compose.yml export-ignore
Dockerfile-* export-ignore
package-lock.json export-ignore
package.json export-ignore
README.md export-ignore
webpack.config.js export-ignore
wpcron.txt export-ignore

# Files that has a placeholder that should be replaced on release are listed here with the export-subst flag
ledyer-checkout-for-woocommerce.php export-subst
readme.txt export-subst
/languages/ledyer-checkout-for-woocommerce.pot export-subst
/classes/class-ledyer-main.php export-subst
