#lco-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  #lco-order-review,
  #lco-iframe {
    width: 100%;
  }

  #lco-iframe {
    display: flex;
    justify-content: center;
  }
}
