#lco-wrapper {

	display: flex;
	flex-wrap: wrap;

	#lco-order-review,
	#lco-iframe {
		width: 50%;

		@media (max-width: 921px) {
			width: 100%;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-terms-and-conditions-wrapper {
		display: none;
	}

	#lco-iframe {
		display: flex;
	}
}
