#lco-wrapper {
	display: grid;
  grid-template-columns: 1fr;
}

#lco-wrapper.horizontal {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: dense;
  gap: 16px;
}

#lco-wrapper.horizontal #lco-iframe {
  order: -1;
}

#lco-order-review,
#lco-iframe {
	width: 100%;
}

#lco-iframe {
	display: flex;
	justify-content: center;
}

