# Links to the previously created PR artifact as a comment on the PR.
# This has to be run in a separate workflow from the one that creates the artifact, due to the fact that the
# artifact is not available until the workflow is completed.
name: Add link to development zip on pull request
on:
  workflow_run:
    workflows:
      - Create development plugin zip archive
    types:
      - completed

jobs:
  comment:
    runs-on: ubuntu-latest

    if: github.event.workflow_run.event == 'pull_request'

    steps:
      - name: Get the artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: ""
          name: pr-number
      - name: Read PR Number into GitHub environment variables
        run: echo "PR_NUMBER=$(cat pr-number.txt)" >> $GITHUB_ENV
      - name: Confirm the PR Number (Debugging)
        run: echo $PR_NUMBER
      - name: Get the code coverage results file
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          workflow_conclusion: ""
          name: ledyer-checkout-for-woocommerce
      - name: Add link to artifact as PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          number: ${{ env.PR_NUMBER }}
          recreate: true
          path: ledyer-checkout-for-woocommerce.zip
