# One job for pre-releases (towards development-1 environment) and one for full releases (towards wordpress-public-release environment)
# Excluded files and folders that should not be part of the plugin is defined in .distignore
name: Do pre- or full release
on:
  push:
    branches:
      - main
jobs:
  prerelease:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm ci

      - name: Semantic Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Plugin Zip
        id: build_zip
        uses: 10up/action-wordpress-plugin-build-zip@stable

      - name: Update GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ steps.build_zip.outputs.zip_path }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
# release:
#   runs-on: ubuntu-latest
#   environment: wordpress-public-release
#   needs: prerelease

#   steps:
#    - name: Checkout code
#      uses: actions/checkout@v2

#    - name: Use Node.js
#      uses: actions/setup-node@v2
#      with:
#        node-version: 18

#    - name: Install Dependencies
#      run: npm ci

#    - name: Semantic Release
#      run: npx semantic-release
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#    - name: Update local repository
#      uses: actions/checkout@v2

#     - name: Deploy Plugin to WordPress SVN
#       uses: 10up/action-wordpress-plugin-deploy@stable
#       env:
#         svn_username: ${{ secrets.SVN_USERNAME }}
#         svn_password: ${{ secrets.SVN_PASSWORD }}
